.square {
    background-color: #8a2be2;
    border: black 1px solid;
    width: 500px;
    height: 500px;
    margin: 50px;
    position: relative;
}

@keyframes anima {
    from { transform: translateX(0px);}
    25% { transform: translateX(400px);}
    50% { transform: translateX(400px) translateY(400px);}
    75% { transform: translateY(400px);}
    /* to { transform: translateY(400px);} */
    
}

.circle {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation-name: anima;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}